*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333;

	// overflow: hidden;
}

.passbox {
	background-color: #0a2d4d;
	border-radius: 8px;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		text-align: center;
		font-size: 2rem;
		&-title {
			color: #ffffffda;
		}
		&-info {
			font-size: 1.5rem;
			color: #ffffffb1;
		}
	}

	&__func {
		margin-top: 0.9em;
		width: 70%;

		&-input {
			font-size: 1.8rem;
			padding: 0.1em;
			text-align: center;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
			border: 1px solid #fff;
			border-radius: 8px;

			&-range {
				color: #ffffffda;
				display: flex;
				justify-content: space-between;
				margin-top: 0.5em;
				font-size: 1.3rem;
				&-inputNumber {
					padding: 0.1em;
					border: 1px solid #fff;
					border-radius: 8px;
					text-align: center;
				}
				&-slider {
					width: 30%;
				}
			}
		}

		&-text {
			visibility: hidden;

			text-align: center;
			margin-top: 0.5em;
			font-size: 1.3rem;
			font-weight: bold;
		}

		&-btns {
			display: flex;
			justify-content: space-between;
			margin-top: 1em;
			color: red;

			.btn {
				position: relative;
				padding: 0.5em 1.5em;
				border: 1px solid #fff;
				border-radius: 8px;
				color: #ffffff;
				background: none;
				text-transform: uppercase;
				overflow: hidden;
				// visibility: visible;
				cursor: pointer;
			}

			.btn::before {
				top: -10px;
				left: -80px;
				height: 130%;
				width: 30px;
				background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
				transform: rotate(20deg);
			}
			.btn::before,
			.btn::after {
				display: block;
				position: absolute;
				content: '';
				transition: all 0.5s;
			}
			.btn:hover::before {
				left: 105%;
			}
		}
	}
}

.copied {
	visibility: visible;
	color: greenyellow;
}
.generated {
	visibility: visible;
	color: cyan;
}

.wrong {
	visibility: visible;
	color: tomato;
}
// #rangeValue {
// 	position: relative;
// 	display: block;
// 	text-align: center;
// 	font-size: 6em;
// 	color: #999;
// 	font-weight: 400;
//   }
//   .slider {
// 	width: 40px;
// 	height: 15px;
// 	-webkit-appearance: none;
// 	background: #111;
// 	outline: none;
// 	border-radius: 15px;
// 	overflow: hidden;
// 	box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
//   }
//   .range::-webkit-slider-thumb {
// 	-webkit-appearance: none;
// 	width: 15px;
// 	height: 15px;
// 	border-radius: 50%;
// 	background: #00fd0a;
// 	cursor: pointer;
// 	border: 4px solid #333;
// 	box-shadow: -407px 0 0 400px #00fd0a;
//   }

/* CSS */
// .button-85 {
//   padding: 0.6em 2em;
//   border: none;
//   outline: none;
//   color: rgb(255, 255, 255);
//   background: #111;
//   cursor: pointer;
//   position: relative;
//   z-index: 0;
//   border-radius: 10px;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button-85:before {
//   content: "";
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00c8,
//     #ff0000
//   );
//   position: absolute;
//   top: -2px;
//   left: -2px;
//   background-size: 400%;
//   z-index: -1;
//   filter: blur(5px);
//   -webkit-filter: blur(5px);
//   width: calc(100% + 4px);
//   height: calc(100% + 4px);
//   animation: glowing-button-85 20s linear infinite;
//   transition: opacity 0.3s ease-in-out;
//   border-radius: 10px;
// }

// @keyframes glowing-button-85 {
//   0% {
//     background-position: 0 0;
//   }
//   50% {
//     background-position: 400% 0;
//   }
//   100% {
//     background-position: 0 0;
//   }
// }

// .button-85:after {
//   z-index: -1;
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: #222;
//   left: 0;
//   top: 0;
//   border-radius: 10px;
// }
